html{
    height:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    margin:0;
    height:100%;
    display:grid;
    grid-template-rows: auto 1fr auto;
}
header{
    background-image:url('../img/camaeleon.jpg');
    background-position: fixed;
    background-size: cover;
    border-bottom:4px solid black;
}

header h1,p{
    margin:0;
    color:white;
}

header h1{
    font-size:4vw;
    padding:1em .5em;
    text-shadow: 0px 5px 10px  black;;
}

header p{
    margin: .5em;
    padding:0.2em 0.3em;
    font-size: 2vw;
    color:aqua;
    text-shadow:0px 5px 10px black
}

nav ul{
    
    padding:0;
    margin:0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background:#1d7b7f;
}

nav ul li{
    flex: 1 1 30%;

}


nav ul li a{
    text-align: center;
    display:block;
    padding: .5em;
    text-decoration: none;
    color:white;
    border-bottom:3px solid #1d7b7f;
    
}
nav ul li a:hover{
    border-bottom:3px solid cyan;
}

.card{
    display:flex;
    flex-wrap:wrap;
}
.card > *{
    flex: 1 1 10%
}
.card img{
    object-fit: cover;
    width:100%;
    height:100%;
    display: block;
}
footer{
    height:10em;
    background-image:url('../img/camaeleon.jpg');
    background-position: center;
    background-size: cover;
    
}

* {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #265314;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }